# 文件夹
.idea/
wiki_venv/

# 一些关键文件！！
*.json
*.bak
.env

1_scrapy_spider_wiki_art/wiki_imgs/full/
1_scrapy_spider_wiki_art/.scrapy/
1_scrapy_spider_wiki_art/artworks.jsonl
1_scrapy_spider_wiki_art/my_files.txt


3_build_model/data/
3_build_model/*.pth
3_build_model/*.png

*.pyc
*.pyw
*.bat

start_repo.py
gg.bat


